* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 500px;
    min-width: 500px;
    max-height: 250px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.navbar {
    background-color: #1F2937;
    height: 60px;
}

.navbar .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.navbar a {
    color: #e5e7eB;
    font-size: 18px;
    text-decoration: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 16px
}

.header {
    background-color: #1F2937;
    min-height: 400px;
    padding: 100px 0;
}

.header h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
    line-height: 1.2;
}

.header p {
    color: #e5e7eB;
    font-size: 18px;
    margin-bottom: 16px;
    max-width: 400px;
}

.header button {
    background-color: #3882F6;
    padding: 8px 24px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
}

.header img {
    max-width: 400px;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin: 35px;
}

.info h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 35px;
}

.info .box {
    max-width: 160px;
}

.info p {
    font-size: 18px;
    text-align: center;
}

.info .box img {
    min-width: 160px;
    max-width: 160px;
    max-height: 160px;
    min-height: 160px;
    border: solid 5px #3882F6;
    border-radius: 10px;
}

.info .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quote .container p {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .container .credit{
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.quote {
    background-color: #e5e7eB;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
}

.call {
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.call .container {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    min-width: 1000px;
    justify-content: space-around;
    padding: 42px;
}

.call .text h3 {
    color: #F9FAF8;
    font-weight: bold;
}

.call .text p {
    color: #e5e7eB;
}

.call .button {
    background-color: #3882F6;
    padding: 0px 40px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10px;
    border: solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #e5e7eB;
    font-size: 18px;
}
